h4 {
    width: 100%;
    color: #5d5d5d;
    font-size: 1.35em;
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px fadeout(white, 95%);
    margin: 0;
    font-weight: 200;
    text-align: center;
}
.text-muted {
    margin-top: -16px;
}
