<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="false">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="productForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" formControlName="price" class="form-control" id="price" placeholder="Enter price">
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <input type="text" formControlName="color" class="form-control" id="color" placeholder="Enter color">
        </div>


        <div class="row">
            <div class="form-group col-md-4">
                <label for="imageUpload">Add a picture</label>
            </div>
            <img [src]="photo" *ngIf="photo" alt="">
            <div class="form-group col-md-8">
                <div class="media-body ml-4">
                    <label class="btn button" for="imageUpload">
                        Upload photo
                        <input type="file" class="button account-settings-fileinput" id="imageUpload"
                            (change)="fileProfileEvent($event)" accept=".png, .jpg, .jpeg">
                    </label> &nbsp;
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="text-right block pr-lg">
        <button class="btn btn-secondary" (click)="activeModal.close(false)" type="reset">
            Cancel </button>
        <button class="btn button" type="button" (click)="updateProduct()">
            Save </button>
        <br><br>
    </div>
</div>