<div class="main">
    <div class="left" *ngIf="user">
        <ul>
            <li class="menu-heading">Dashboards</li>
            <li><a data-toggle="tab" [routerLink]="['/user/list']"><i class="fa fa-list"></i>My products</a></li>
            <li><a data-toggle="tab" [routerLink]="['/user/profil']"><i class="fa fa-user"></i> Profile</a></li>
            <li>
                <a data-toggle="tab">
                    <span (click)="logout()">signOut</span><i class="fa fa-sign-out-alt icon"></i>

                </a>
            </li>


        </ul>
    </div>

    <div class="left" *ngIf="admin">
        <ul>
            <li class="menu-heading">Dashboards</li>
            <li><a data-toggle="tab" [routerLink]="['/admin/list']"><i class="fa fa-list"></i> List of Users</a></li>
            <li><a data-toggle="tab" [routerLink]="['/admin/profile']"><i class="fa fa-user"></i> Profile</a></li>
            <li><a data-toggle="tab" [routerLink]="['/admin/products']"><i class="fa fa-line-chart"></i>List of
                    Products</a>
            </li>
            <li>
                <a data-toggle="tab">
                    <span (click)="logout()">signOut</span><i class="fa fa-sign-out-alt icon"></i>

                </a>
            </li>

        </ul>
    </div>
</div>