<!-- <div class="container">
    <div class="main-box no-header clearfix">
        <div class="table-responsive">
            <table class="table user-list">
                <thead>
                    <tr>
                        <th><span>NAME</span></th>
                        <th><span>PRICE</span></th>
                        <th><span>COLOR</span></th>
                        <th><span>Action</span></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products">
                        <td>
                            <span class="label label-default">{{prod.name}}</span>
                        </td>
                        <td>
                            <span class="label label-default">{{prod.price}}</span>
                        </td>
                        <td>
                            <a>{{prod.color}}</a>
                        </td>
                        <td style="width: 20%;">

                            <a class="table-link text-info">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a class="table-link danger">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div> -->


<!-- <app-list-product [user]="user" [products]="product" (delete)="openConfirmModal($event)" (update)="openModal($event)">
</app-list-product> -->

<div class="container">
    <a (click)="openModal(null)" class="btn btn-sm btn-success mb-2">Add product</a>

    <div class="row">
        <div class="col-md-3 mx-auto my-5" *ngFor="let product of product">
            <div class="card__top__section">
                <img
                    src="https://raw.githubusercontent.com/TshepoMooka/html-css-and-js/master/shirt-product-card/assets/images/shirt.png">
                <div class="card__top__section__icons">
                    <div>
                        <i class="fa fa-edit" (click)="openModal(product)"></i>
                    </div>
                    <div>
                        <i class="fa fa-trash-o" (click)="openConfirmModal(product)"></i>
                    </div>

                </div>
            </div>
            <div class="card__body__section">
                <p>{{product.name}}</p>
            </div>
            <div>
                <div class="rating-section">
                    <div class="stars-rating">

                        <span>{{product.color}}</span>
                    </div>
                    <div class="c-price">
                        <span>{{product.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>