/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

/* .btn {
    display: inline-block;
    background: #2a2a2a;
    border: 1px solid darken(#2a2a2a, 5%);
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
} */

.form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 15px;
    line-height: 15;
    font-weight: normal;
}
.button {
    background-color: black;
    color: white;
    font-size: 19px;
    margin-left: 5px;
}
.button:hover {
    background-color: #f8be12;
    color: black;
}

.btn-secondary {
    font-size: 19px;
}
